.main-div{

    border: 2px solid yellow;
    background-color: red;
    border-radius: 10px;
    margin:20px;
    padding: 20px;

}

.main-label{
    font-size: large;
    color: brown;
    font-weight: bold;

}

.title{
    color: blueviolet;
}